* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.headerInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
}

.headerInfo>div {
    display: flex;
    align-items: center;
}

.headerInfo>div:nth-child(2) {
    margin: 0 136px;
}

.headerInfo>div>a {
    margin-left: 8px;
    font-size: 12px;
    color: #000;
}

.headerDetail {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeft span {
    font-size: 18px;
    font-weight: 700;
}

.headerLeft>ul {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.headerLeft>ul>li {
    margin-left: 32px;
    font-size: 18px;
}

.headerLeft>ul>li>a {
    color: #000;
}

.headerLeft>ul>li:nth-child(1) {
    margin-left: 0;
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerFunc {
    display: flex;
    align-items: center;
}

.headerFunc>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.headerFunc>div>svg {
    cursor: pointer;
}

.headerFunc>div:nth-child(2)>svg:nth-child(2) {
    margin-left: 7px;
}

.headerRegister {
    margin-left: 26px;
}

.headerRegister>a {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #2141B7;
}

.headerRegister>a:nth-child(2) {
    background-color: #2141B7;
    color: #F5F5F5;
    border-radius: 8px;
}

/* Header */

/* Home search  */
.homeSearch {
    width: 100%;
    height: 100vh;
    background-image: url('./homeSearch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 0 108px;
    position: relative;
}

.homeSearchCard {
    width: 100%;
    margin-bottom: 60px;
}

.searchText {
    margin-bottom: 50px;
    width: 400px;
}

.searchText>span {
    font-size: 40px;
    color: #fff;
}

.searchText>span>span {
    font-weight: 600;
}

.searchPart {
    padding: 44px 19px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 28px 10px;
    background-color: #fff;
}

.gridCard{
    display: flex;
    align-items: end;
}
.gridCard > img{
    margin: 0 0 0 10px;
    margin-bottom: 10px;
}

.gridCard > div {
    width: 100%;
    position: relative;
}
.gridCard > div > ul{
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 9;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-height: 120px;
    overflow-y: auto;
    visibility: hidden;
}

div.activeDiv > ul{
    visibility: visible;
}
div.activeDiv > div{
    visibility: visible;
}

.gridCard > div > ul > li{
    cursor: pointer;
}
.gridCard > div > ul > li > span{
    display: none;
}

.gridCard > div > label{
    font-size: 14px;
}

.gridCard > div > div{
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}
.gridCard > div > div > input{
    width: 100%;
    height: 24px;
    border: none;
    cursor: pointer;
}
.gridCard > div > div>:focus{
    outline: none;
}

.guestAdd{
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 9;
    background-color: #fff;
    visibility: hidden;
}
.guestAdd>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}
.guestAdd>div>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 9px;
    box-shadow: 0px 0px 6px 0px rgba(107, 107, 107, 0.20);
    padding: 5px 0;
    border-radius: 4px;
}
.guestAdd>div button {
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.guestAdd>div>div>span {
    text-align: center;
    margin-top: 3px;
    color: #1F1F1F;
}

.show {
    visibility: visible !important;
}

.homeSearchSvgs>svg {
    position: absolute;
}

.homeSearchSvgs>svg:nth-child(1) {
    left: 185px;
    top: 180px;
}

.homeSearchSvgs>svg:nth-child(2) {
    left: 220px;
    top: 200px;
}

.homeSearchSvgs>svg:nth-child(3) {
    left: 60px;
    top: 325px;
}

.homeSearchSvgs>svg:nth-child(4) {
    left: 90px;
    top: 265px;
}

.homeSearchSvgs>svg:nth-child(5) {
    left: 460px;
    top: 220px;
}

.homeSearchSvgs>svg:nth-child(6) {
    left: 300px;
    top: 235px;
}

/* Home search */