* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.headerInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
}

.headerInfo>div {
    display: flex;
    align-items: center;
}

.headerInfo>div:nth-child(2) {
    margin: 0 136px;
}

.headerInfo>div>a {
    margin-left: 8px;
    font-size: 12px;
    color: #000;
}

.headerDetail {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeft span {
    font-size: 18px;
    font-weight: 700;
}

.headerLeft>ul {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.headerLeft>ul>li {
    margin-left: 32px;
    font-size: 18px;
}

.headerLeft>ul>li>a {
    color: #000;
}

.headerLeft>ul>li:nth-child(1) {
    margin-left: 0;
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerFunc {
    display: flex;
    align-items: center;
}

.headerFunc>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.headerFunc>div>svg {
    cursor: pointer;
}

.headerFunc>div:nth-child(2)>svg:nth-child(2) {
    margin-left: 7px;
}

.headerRegister {
    margin-left: 26px;
}

.headerRegister>a {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #2141B7;
}

.headerRegister>a:nth-child(2) {
    background-color: #2141B7;
    color: #F5F5F5;
    border-radius: 8px;
}

/* Header */

/* Home search */
.homeSearch {
    width: 100%;
    height: 100vh;
    background-image: url('./homeSearch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 0 108px;
    position: relative;
}

.homeSearchCard {
    width: 100%;
    margin-bottom: 60px;
}

.searchText {
    margin-bottom: 50px;
    width: 400px;
}

.searchText>span {
    font-size: 40px;
    color: #fff;
}

.searchText>span>span {
    font-weight: 600;
}

.searchPart {
    width: 100%;
    background-color: #fff;
    padding: 42px 18px 44px;
    box-shadow: 0px 0px 10px 2px rgba(105, 105, 105, 0.18);
}

.searchOne {
    display: flex;
    align-items: end;
}

.searchOne>div {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.searchOne>svg {
    margin-bottom: 12px;
}

.searchOne>div>input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D5D4DC;
    margin: 8px 0 0 0;
    width: 100%;
}

.searchOne>div>label {
    font-size: 14px;
    font-weight: 600;
    color: #10002E;
}

.searchOne>div>input:focus {
    outline: none;
}

.guestDiv>label {
    margin-bottom: 8px;
}

.guestAll {
    position: relative;
}

.guestAdd {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.guestAdd>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.guestAdd>div>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 9px;
    box-shadow: 0px 0px 6px 0px rgba(107, 107, 107, 0.20);
    padding: 5px 0;
    border-radius: 4px;
}

.guestAdd>div button {
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.guestAdd>div>div>span {
    text-align: center;
    margin-top: 3px;
    color: #1F1F1F;
}

.guestCard {
    padding: 9px 12px;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.guestCard>span {
    font-size: 16px;
}

.searchTwo {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 28px;
}

.searchTwoInputs {
    display: flex;
    width: 60%;
}

.searchTwoInputs>div {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 10px;
}

.searchTwoInputs label {
    font-size: 14px;
    font-weight: 600;
    color: #10002E;
    margin-bottom: 8px;
}

.ratingCard {
    padding: 9px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    cursor: pointer;
}

.ratingAll {
    position: relative;
}

.ratingAdd {
    position: absolute;
    left: 0;
    top: 35px;
    border: 1px solid #D5D4DC;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    /* padding: 0 12px; */
    visibility: hidden;
    height: 115px;
    overflow-y: scroll;
}

.ratingAdd>li {
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    cursor: pointer;
}

.ratingAdd>li:hover {
    background-color: #F3F6FF;
}

.ratingAdd>li>span {
    display: none;
}

.nutritionAll {
    position: relative;
}

.nutritionCard {
    padding: 9px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    cursor: pointer;
}

.nutritionAdd {
    position: absolute;
    left: 0;
    top: 35px;
    /* padding: 0 12px; */
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    height: 115px;
    overflow-y: scroll;
}

.nutritionAdd>li {
    padding: 8px 12px;
    cursor: pointer;
}

.nutritionAdd>li:hover {
    background-color: #F3F6FF;
}

.nightAll {
    position: relative;
}

.nightCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 12px;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    cursor: pointer;
}

.nightAdd {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    /* padding: 0 12px; */
    visibility: hidden;
    height: 115px;
    overflow-y: scroll;
}

.nightAdd>li {
    padding: 8px 12px;
    cursor: pointer;
}

.nightAdd>li:hover {
    background-color: #F3F6FF;
}

.searchBtn>a {
    padding: 12px;
    border: 2px solid #2141B7;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #2141B7;
}

.searchBtn>a>svg {
    margin-right: 8px;
}

.show {
    visibility: visible !important;
}

.homeSearchSvgs>svg {
    position: absolute;
}

.homeSearchSvgs>svg:nth-child(1) {
    left: 185px;
    top: 180px;
}

.homeSearchSvgs>svg:nth-child(2) {
    left: 220px;
    top: 200px;
}

.homeSearchSvgs>svg:nth-child(3) {
    left: 60px;
    top: 325px;
}

.homeSearchSvgs>svg:nth-child(4) {
    left: 90px;
    top: 265px;
}

.homeSearchSvgs>svg:nth-child(5) {
    left: 460px;
    top: 220px;
}

.homeSearchSvgs>svg:nth-child(6) {
    left: 300px;
    top: 235px;
}

/* Home search */