* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f7f8fb;
}

.container {
    width: 100%;
    max-width: 1550px;
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

/* Header part */

header {
    width: 100%;
    max-width: 1550px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 16px 100px;
    z-index: 999;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header>.dropdown {
    display: none;
    cursor: pointer;
}

header>.dropdown>img:nth-child(2) {
    display: none;
}



.headerLogo {
    width: auto !important;
}

.headerLogo>a {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 65px;
    /* transition: 300ms all; */
}

header.activeDown>.navbar {
    transform: translateX(0) !important;
}

header.activeDown>.dropdown>img:nth-child(1) {
    display: none;
}

header.activeDown>.dropdown>img:nth-child(2) {
    display: block;
}

.navbar>ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar>ul>li>a {
    font-size: 18px;
    color: #000;
}

.navbar>a {
    display: flex;
    align-items: center;
}

.navbar>a>span {
    margin-left: 8px;
    font-weight: 500;
    color: #000;
    font-size: 18px;
}

/* Header part */

/* Search part */


.searchPart {
    margin-top: 25px;
    padding: 44px 100px;
    display: flex;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(105, 105, 105, 0.18);
}

.gridDivs {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}

.gridDivOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 40px;
    width: 100%;
}

.gridDivTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 40px;
}

.gridDivTwo>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 10px;
}

.gridDivThree {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 25px;
}


.gridCard {
    display: flex;
    align-items: end;
}

.gridCard>img {
    transform: translateX(18px);
    /* margin: 0 0 0 10px; */
    margin-bottom: 10px;
}

.gridDivTwo>div>div:nth-child(2) {
    margin-left: 25px;
}

.gridCard>div {
    width: 100%;
    position: relative;
}

.gridCard>div>ul {
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 9;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-height: 120px;
    overflow-y: auto;
    visibility: hidden;
}

div.activeDiv>ul {
    visibility: visible;
}

div.activeDiv>div {
    visibility: visible;
}

div.activeDiv>div>img {
    transform: rotateZ(180deg);
}

.clickDiv>img {
    transition: 300ms all;
}

.clickGuest>img {
    transition: 300ms all;
}

.gridCard>div>ul>li {
    cursor: pointer;
}

.gridCard>div>ul>div {
    display: flex;
    align-items: center;
}


.gridCard>div>ul>div>input {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.gridCard>div>ul>div>label {
    margin-left: 8px;
    cursor: pointer;
}


.gridCard>div>ul>li>span {
    display: none;
}

.gridCard>div>label {
    font-size: 14px;
}

.gridCard>div>div {
    border: 1px solid #D5D4DC;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.gridCard>div>div>span {
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
}

.gridCard>div>div>input {
    width: 100%;
    height: 24px;
    border: none;
    cursor: pointer;
}

.gridCard>div>div>:focus {
    outline: none;
}

.guestAdd {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 9;
    background-color: #fff;
    visibility: hidden;
}

.guestAdd>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.guestAdd>div>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 9px;
    box-shadow: 0px 0px 6px 0px rgba(107, 107, 107, 0.20);
    padding: 5px 0;
    border-radius: 4px;
}

.guestAdd>div button {
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.guestAdd>div>div>span {
    text-align: center;
    margin-top: 3px;
    color: #1F1F1F;
}

.btnDiv {
    display: flex;
    align-items: end;
    justify-content: end;
}

.btnDiv>a {
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid #2141B7;
    display: flex;
    align-items: center;
}

.btnDiv>a>span {
    margin-left: 8px;
}

.show {
    visibility: visible !important;
}

/* Search part */


/* Filter */
/* Filter start*/
.filterDiv {
    padding: 0 100px;
    margin: 34px 0;
    display: flex;
}

.filterBtns {
    min-width: 25%;
}

.filterBtnCard {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 18px;
    box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.12);
}

.filterBtnCard>span {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #f1f1f1;
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.filterBtnCard>ul>li {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.filterBtnCard>ul>li>input {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.filterBtnCard>ul {
    margin: 16px 0;
}

.searchCard>label {
    color: #181818;
    font-weight: 500;

}

.searchCard>div {
    margin-top: 13px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 12px;
    border-radius: 8px;
}

.searchCard>div>input {
    margin-left: 10px;
    border: none;
}

.searchCard>div>input:focus {
    outline: none;
}

.filterBtnCard>div>div {
    display: flex;
    margin-top: 18px;
}

.filterBtnCard>div>div>input {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.filterBtnCard>div>div>label {
    margin-left: 8px;
    cursor: pointer;
}

.filterBtnCard>ul>li>label {
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Filter end */
/* Result start */
div.activeComment>div:nth-child(2)>div:nth-child(1) {
    display: flex !important;
}

div.activeDetail>div:nth-child(2)>div:nth-child(2) {
    display: flex !important;
}

div.activeDe>div:nth-child(2)>div:nth-child(3) {
    display: flex !important;
}

.deas {
    display: none;
}

div.activeComment .hotelComment {
    color: #DB6600;
}

div.activeDetail .hotelDetail {
    color: #DB6600;
}

.filterResult {
    min-width: 75%;
    margin-left: 20px;
}

.filterType {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.12);
}

.filterType>div:nth-child(1) {
    padding: 16px 20px;
}

.filterType>div:nth-child(1)>span {
    font-family: 500;
    font-family: 'Montserrat', sans-serif;
}

.filterType>div:nth-child(2) {
    padding: 3px 20px 0 20px;
    border-top: 1px solid #eee;
}

.filterType>div:nth-child(2)>span {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.filterType>div:nth-child(2)>button {
    width: 44%;
    padding: 10px 0;
    cursor: pointer;
    background: none;
    border-left: 1px solid #eee !important;
    border: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.resultCards {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.12);
    border-radius: 8px;
    overflow: hidden;
}

.cardInfo {
    width: 100%;
    display: flex;
}

.cardInfoImg {
    width: auto;
}

.cardInfoImg>div {
    width: 100%;
}

.cardInfoImg>div:nth-child(1)>img {
    width: 302px;
}

.cardInfoImg>div:nth-child(2) {
    display: flex;
    gap: 2px;
}

.cardInfoNew {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.cardInfoText>span {
    font-size: 20px;
    font-family: 'Baskervville', serif;
}

.cardLocation {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cardLocation>span {
    margin-left: 4px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
}

.cardStars {
    display: flex;
    gap: 8px;
}

.personInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.personInfo>span {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.personInfo>span:nth-child(2) {
    margin-top: 10px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoBtns {
    display: flex;
    gap: 35px;
}

.cardInfoBtns>button {
    background: none;
    border: none;
    cursor: pointer;
    color: #2141B7;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoEnd {
    width: 25%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #e6e6e6;
}

.cardInfoEndOne>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.cardInfoEndOne>div:nth-child(1)>span {
    margin-left: 6px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoEndOne>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.cardInfoEndOne>div:nth-child(2)>span {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoEndOne>div:nth-child(2)>span:nth-child(2) {
    color: #707070;
    margin-top: 9px;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoEndTwo {
    display: flex;
    flex-direction: column;
}

.cardInfoEndTwo>span {
    margin-bottom: 14px;
    color: #496df3;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.cardInfoEndTwo>button {
    width: 150px;
    padding: 12px;
    background-color: #2141B7;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.cardDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
}

.commitCards {
    padding: 72px 0;
    display: none;
    width: 100%;
    overflow: hidden;
}

.commitCard {
    min-width: 370px;
    background-color: #f9f9f9;
    padding: 13px 18px;
    display: flex;
    margin-left: 23px;
}

.commitCardTitle {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commitCardTitle>span:nth-child(2) {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
}

.commitCardTitle>span:nth-child(3) {
    font-size: 12px;
    color: #707070;
    margin-top: 5px;
}

.commitCardTitle>span:nth-child(4) {
    font-size: 12px;
    color: #707070;
    margin-top: 4px;
}

.commitCardInfo {
    margin-left: 23px;
}

.commitCardInfo>span {
    font-size: 20px;
}

.commitRating {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.commitRating>span {
    margin-left: 10px;
    font-size: 14px;
}

.commitText>p {
    font-size: 12px;
    color: #161616;
}

.commitText>a {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #2141B7;
}

.commitText>a>svg {
    margin-left: 8px;
}

.detailCard {
    padding: 20px 50px 0 50px;
    display: none;
    flex-direction: column;
}

.detailCard>div {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 19px 0;
    border-bottom: 1px solid #e6e6e6;
}

.detailCard>div:nth-child(3) {
    border: none;
}

.detailCard>div>div {
    width: 100%;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF1FF;
    box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.12);
    font-size: 14px;
    font-weight: 500;
}

.detailCard>div>div>svg {
    margin: 0 8px;
}

div.activeCommit>div:nth-child(2)>div:nth-child(1) {
    display: flex !important;
}

/* Result end */
/* Filter */


@media screen and (max-width: 1280px) {
    .searchPart{
        gap: 35px;
    }
    .filterDiv{
        padding: 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    .filterDiv{
        padding: 0 40px;
    }
}

@media screen and (max-width: 992px) {
    header{
        padding: 16px 60px;
    }
    .searchPart{
        padding: 44px 60px;
    }
    .gridDivTwo{
        grid-template-columns: 1fr;
    }
    .gridDivThree{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media screen and (max-width: 768px) {
    header{
        padding: 16px 40px;
    }
    .navbar{
        padding-left: 30px;
    }
    .navbar > ul{
        gap: 15px;
    }
    .searchPart{
        padding: 44px 40px;
        flex-direction: column;
    }
    .gridDivs{
        width: 100%;
    }
    .btnDiv > a{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .searchPart{
        padding: 32px 34px;
    }
    .gridDivOne {
        grid-template-columns: 1fr;
    }

    .gridDivTwo>div {
        grid-template-columns: 1fr;
    }

    .gridDivTwo>div>div:nth-child(2) {
        margin: 0;
    }

    .gridDivThree {
        grid-template-columns: 1fr;
    }

    .gridCard>img {
        display: none;
    }

    .navbar {
        position: absolute;
        z-index: 9;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        margin-top: 56px;
        transform: translateX(-120%);
        flex-direction: column;
        padding: 20px 0 70px;
    }

    .navbar>ul {
        padding: 0;
        flex-direction: column;
    }

    header>.dropdown {
        display: flex;
    }

    .headerLogo {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding-right: 30px;
    }
    .gridDivs {
        gap: 18px;
    }
}


